# Dynamic Generated
Platforms/Lumia950XlPkg/Driver/SmBiosTableDxe/ReleaseInfo.h
Platforms/Lumia950XlPkg/Application/BdsMenuApp/ReleaseInfo.h
Platforms/Lumia950XlPkg/Include/Resources/ReleaseInfo.h

# Local
.DS_Store
.vs
.vscode

# Variable Services: Defer
Platforms/Lumia950XlPkg/Driver/BlockRamVariableDxe
Platforms/Lumia950XlPkg/Driver/FaultTolerantWriteDxe
Platforms/Lumia950XlPkg/Driver/VariableRuntimeDxe
Platforms/Lumia950XlPkg/Library/BlockRamVariableLib

# USB: Defer
Platforms/Lumia950XlPkg/Driver/UsbTypeCDxe

# RTC: Defer
Platforms/Lumia950XlPkg/Library/QcomPmicRealTimeClockLib

# SSDT
Platforms/Lumia950XlPkg/AcpiTables/8992/generated
Platforms/Lumia950XlPkg/AcpiTables/8994/generated
Platforms/Lumia950XlPkg/AcpiTables/Hapanero/generated

/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

/Conf/
/Lumia950Xl/